# IDE
.idea/
.vscode/
*.iml

# Browser cache
.npm-cache/
npm-debug.log*

# Playwright browser
pw_browsers/

# Node modules
node_modules/

# Vercel
.vercel/

# Test outputs
test_screenshots/
test_report.html
